button.hand_button {
    --button-size: calc(calc(100% - 12px) / 3);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 5%;
}

div.buttons {
    margin-top: 10%;
}

div.COM {
    width: 98%;
    margin-right: 2%;
    background-color: #3ee5b5;
    border-width: 10px;
    border-style: solid;
    border-radius: 5%;
    border-color: darkgreen;
}

img.COM_img {
    --com-img-width: 80%;
    width: var(--com-img-width);
    margin-left: calc(50% - calc(var(--com-img-width) / 2));
}

img.button_img {
    transform: scale(1, 1);
}

strong.red {
    color: red;
}
